/* zeroing */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    /*line-height: 1.5;*/
    -webkit-font-smoothing: antialiased;
}

/*6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 7. Remove built-in form typography styles */
/* Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}


.footer-gradient-text {
    background: -webkit-linear-gradient(#4BA8FE 100%, #2575FC 100%, #0354DC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-footer {
    background: #000000;
    color: #FFFFFF;
    padding: 50px 0;
    z-index: 2;
}

.footer-container {
}

.footer-body {
    display: flex;
    justify-content: space-between;
}

.footer-content-container {
    max-width: 477px;
}

.footer-title {
    font-family: Spartan, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
}

.footer-subtitle {
    margin: 40px 0;
    font-family: Spartan, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
}

.footer-contacts {
    display: flex;
    align-items: center;
}

.footer-email {
    font-family: Spartan, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
}

.footer-linkedin {
    margin-left: 30px;
}

.footer-facebook {
    margin-left: 30px;
}

.footer-site-map-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /*justify-content: flex-end;*/
}

.footer-company-logo {
}

.footer-link {
    margin-top: 20px;
    font-family: Spartan, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 19px;
    text-align: right;
    color: #FFFFFF;
}

.footer-home-link {
}

.footer-process-link {
}

.footer-company-link {
}

.footer-why-us-link {
}

.footer-copyright-container {
    display: flex;
    margin-top: 30px;
}

.footer-copyright {
    font-family: Spartan, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
}

.footer-privacy-police {
    margin-left: 20px;
}

.footer-privacy-police a {
    font-family: Spartan, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    text-decoration-line: underline;
}

@media (max-width: 1200px) {
    .section-footer {
        padding: 50px 50px;
        align-items: center;
    }
}

@media (max-width: 1050px) {
    .footer-content-container {
        /*align-items: flex-start;*/
        /*justify-content: flex-start;*/
        /*transform: scale(0.75, 1.0);*/
        /*flex: 40%;*/
    }

    .footer-site-map-container {
        /*flex: 60%;*/
        /*transform: scale(0.90, 1.0);*/
    }

    .footer-copyright-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 20px;
    }

    .footer-privacy-police {
        margin-top: 10px;
    }
}

@media (max-width: 920px) {
    .footer-content-container {
        flex: 45%;
    }

    .footer-site-map-container {
        flex: 55%;
    }
}

@media (max-width: 720px) {
    .footer-title {
        font-size: 40px;
    }

    .footer-subtitle {
        font-size: 15px;
    }

    .footer-contacts {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .section-footer {
        padding: 25px 5px;
    }

    .footer-body {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
    }

    .footer-site-map-container {
        align-items: flex-start;
        padding-bottom: 50px;
    }

    .footer-company-logo img {
        width: 170px;
        height: 50px;
    }

    .footer-link {
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        margin-top: 30px;
    }

    .footer-contacts {
        /*display: none;*/
        /*display: flex;*/
        /*flex-direction: column;*/
    }

    .footer-contacts .footer-social-media {
        display: flex;
        flex-direction: column;
    }

    .footer-social-media div {
        margin-bottom: 20px;
    }

    .footer-social-media {
        position: absolute;
        top: 78px;
        right: 0;
    }

    .footer-email {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        align-items: flex-start;
        position: absolute;
        top: 265px;
        left: 0;
    }

    .footer-content-container {
        margin-top: 50px;
    }

    .footer-title {
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 120%;
        max-width: 200px;
    }

    .footer-subtitle {
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        max-width: 250px;
        margin: 0 0;
        padding: 15px 0 80px 0;
    }

    .footer-copyright-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .footer-privacy-police {
        margin: 0 0 20px 0;

    }

}