/* Header */
.section-header{
    background-color: #FFFFFF;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 21px 0 0 0;
}

.header-logo {
}

.logo-image {
    /*width: 217px;*/
    /*height: 62px;*/
}

.header-content {
}

.header-menu {
    display: flex;
}

.menu {
}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-item {
}

.menu-item:not(:last-child) {
    margin-right: 30px;
}

.menu-link {
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 117%;
    letter-spacing: 0.03em;
    color: #000000;
    /*transition: all .3s ease-in-out;*/
}

.menu-link:hover {
    font-weight: 700; /* bold */
}

.menu-link-active {
    padding-bottom: 3px;
    background-image: linear-gradient(90deg, #6A11CB 0%, #2575FC 100%);
    border-radius: 5px;
}

.header-contactUs-button {
    font-family: Rubik, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 117%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin: 0 37px 0 47px;
    background-image: linear-gradient(90deg, #6A11CB 0%, #2575FC 100%);
    padding: 10px 25px;
    /* SHADOW GRADIENT */
    box-shadow: 0 5px 15px rgba(0, 70, 187, 0.4);
    border-radius: 10px;
    cursor: pointer;
}

.header-contactUs-button:hover {
    box-shadow: 0 0 15px #0047FF;
}

.header-contactUs-button:active {
    background-image: linear-gradient(90deg, #8939E0 0%, #68A0FD 100%);
    box-shadow: 0 5px 15px rgba(0, 70, 187, 0.4);
}

.language {
    display: flex;
    align-items: center;
}

.lang-icon {
    margin-right: 7px;
}

.lang-icon img {
    width: 20px;
    height: 20px;
}

.lang-selector {
}

.lang-selector select {
}

.lang-selector option {
}

/* make our navbar responsive */
@media (min-width: 970px ) {
    .topnav {
        overflow: hidden;
    }

    .topnav .icon {
        display: none;
    }
}

@media (max-width: 970px) {
    .header-logo {
        display: flex;
        align-items: center;
    }

    .logo-image{
        width: 171px;
        height: 50px;
    }

    .topnav {
        position: relative;
    }

    .topnav a.icon {
        color: black;
        position: absolute;
        right: 25px;
        font-size: 30px;
    }

    #open-hamburger-menu-icon{

    }

    #close-hamburger-menu-icon{
        display: none;
    }

    /* When the screen is less than 970 pixels wide, hide all navbar items */
    .topnav .menu-list {
        display: none;
    }

    .topnav .header-contactUs-button {
        display: none;
    }

    .topnav .language {
        display: none;
    }

    /*
    The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon.
    This class makes the topnav look good on small screens (display the links vertically instead of horizontally)
    */
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive {
        float: none;
        display: block;
    }

    .responsive .header-logo {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .responsive .header-logo a {
    }

    .responsive .header-content{
        padding-top: 50px;
    }

    .responsive .header-content .header-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .responsive .header-content .header-menu .menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .responsive .header-content .header-menu .menu-list .menu-item {
        margin: 30px 0 0 0;
        padding: 0 0;
    }

    .responsive .header-content .header-menu .menu-list .menu-item .menu-link{
        font-size: 20px;
        line-height: 120%;
    }

    .responsive .header-content .header-menu .header-contactUs-button {
        display: inherit;
        margin-top: 30px;
    }

    .responsive .header-content .header-menu .language {
        display: inherit;
        margin-top: 30px;
    }
}


/* Header End */