/* zeroing */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    /*line-height: 1.5;*/
    -webkit-font-smoothing: antialiased;
}

/*6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 7. Remove built-in form typography styles */
/* Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* zeroing end */

/* Containers */
.base-container {
    max-width: 1170px;
    margin: 0 auto; /* will center this container */
    padding: 0 15px; /* To secure layout/container for small screen size */
}

/* Containers End */

/* Presentation Section */
.section-presentation {
    margin-top: 27px;
    margin-bottom: 96px;
}

.presentation-container {

}

.presentation-body {
    display: flex;
    /*position: relative;*/
}

.presentation-content {
    /*flex: 1 1;*/
}

.presentation-title {
    font-family: Rubik, serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0;

    margin-top: 91px;
    text-align: left;
}

.gradient-text {
    background: -webkit-linear-gradient(#6A11CB, #2575FC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.presentation-subtitle {
    font-family: Rubik, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-align: left;

    margin: 30px 0 61px 0;
}

.bold-text {
    font-weight: bold;
}

.are-you-ready-container {
}

.are-you-ready-title {
    font-family: Rubik, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.03em;
    color: #000000;

}

.are-you-ready-img {
    width: 25px;
    height: 25px;
    margin: 10px 0;
    /*transform: rotate(-180deg);*/
}


.presentation-image-container {
    max-width: 765px;
    max-height: 594px;
    margin-right: -515px;

}

.presentation-img {
}

@media (max-width: 970px) {
    .section-presentation {
        margin-bottom: 40px;
    }

    .base-container {
        padding: 0 50px 0 50px;
    }

    .presentation-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .presentation-title {
        margin-top: 40px;
    }

    .presentation-subtitle {
        margin: 20px 0 30px 0;
    }

    .presentation-image-container {
        margin: 0 0;
    }

}

@media (max-width: 600px) {
    .base-container {
        padding: 0 20px;
    }

    .presentation-title {
        font-size: 35px;
        line-height: 120%;
    }

    .presentation-subtitle {
        margin: 15px 0 20px 0;
    }
}

/* Presentation Section End */

/*Video Presentation Section */
.section-video-presentation {
    background-color: #F8F8F8;
}

.video-presentation-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-presentation-title {
    max-width: 615px;
    margin: 60px 0 50px 0;
    font-family: Rubik, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
}

.video-presentation-title span {
    font-weight: bold;
}

.video-presentation-player {
    margin-bottom: 85px;
}

.video-presentation-player iframe {
    width: 970px;
    height: 546px;
    border-radius: 20px;
}

@media (max-width: 1100px) {
    .video-presentation-player iframe {
        width: 750px;
        height: 400px;
    }
}

@media (max-width: 970px) {
    .video-presentation-title {
        margin: 35px 0 40px 0;
    }

    .video-presentation-player {
        margin-bottom: 45px;

    }

    .video-presentation-player iframe {
        width: 560px;
        height: 315px;
    }
}

@media (max-width: 600px) {
    .video-presentation-title {
        max-width: 270px;
        font-size: 20px;
        line-height: 140%;
    }

    .video-presentation-player iframe {
        width: 350px;
        height: 200px;
    }
}

@media (max-width: 400px) {
    .video-presentation-player iframe {
        width: 280px;
        height: 156px;
    }
}

/*Video Presentation Section End */

/* Solutions Section */
.solutions-section {
}

.solutions-container {
}

.frame-group-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.frame1 {
    margin-top: -95px;
    margin-left: 40px;
}

.frame2 {
    margin-top: -43px;
    margin-right: -100px;
}

.solutions-body {
    display: flex;
    flex-direction: column;
}

.solutions-header {
    display: flex;
    flex-direction: column;
    padding-top: 47px;
    padding-bottom: 100px;
    align-items: center;
}

.solutions-header-title {
    margin-bottom: 30px;
    font-family: Rubik, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.03em;

}

.solutions-header-subtitle {
    max-width: 630px;
    font-family: Rubik, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;
    /* or 32px */

    text-align: center;
    letter-spacing: 0.03em;

    color: #000000;

}

.frame-group-2 {
    position: relative;
}

.frame-group-2 img {
    display: inline-block;
}

.frame3 {
    position: absolute;
    top: -250px;
    left: -86px;
    z-index: 50;
}

.frame4 {
    position: absolute;
    top: -184px;
    right: -46px;
}

.frame5 {
    position: absolute;
    top: -165px;
    right: -181px;
}

.solutions-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 195px;
}

.solutions-item-image {
    flex: 0 1 50%;
}

.solutions-item-content {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.solutions-item-title {
    padding: 15px 38px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    font-family: Rubik, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.03em;

}

.solutions-item-description {
    margin-left: 33px;
    font-family: Rubik, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 160%;
    letter-spacing: 0.03em;
    color: #000000;
}

/* Solutions Section End */






























