/* zeroing */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    /*line-height: 1.5;*/
    -webkit-font-smoothing: antialiased;
}

/*6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 7. Remove built-in form typography styles */
/* Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.gradient-text {
    background: -webkit-linear-gradient(#6A11CB, #2575FC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* zeroing end */

/* Containers */
.base-container {
    max-width: 1170px;
    margin: 0 auto; /* will center this container */
    /*padding: 0 15px;*/
    /*position: relative;*/
}

/* Containers End */

/* Main Block */
.process-main-block {
    padding: 70px 0 65px 0;
}

.main-block-header {
    font-family: Rubik, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-align: center;

    margin-bottom: 60px;
}

.main-block-body {
    display: flex;
}

.main-block-content {
    flex: 41%;
    padding-right: 30px;
}

.content-title {
    font-family: Rubik, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 160%;
    letter-spacing: 0.03em;
    color: #000000;
    text-align: left;

    margin-top: 50px;
    margin-bottom: 20px;
}

.content-text {
    font-family: Rubik, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 160%;
    letter-spacing: 0.03em;
    color: #000000;
    text-align: left;

}

.main-block-image {
    flex: 59%;

}

.main-block-image img {
}

@media (max-width: 1230px) {
    .process-main-block {
        padding: 40px 0 120px 0;
    }

    .main-block-header {
        /*font-size: 25px;*/
        /*line-height: 160%;*/
        /*margin-bottom: 44px;*/
    }

    .main-block-body {
        display: flex;
        flex-direction: column-reverse;
    }

    .main-block-content {
        padding: 0 50px;
    }

    .content-title {
        /*font-size: 20px;*/
        /*line-height: 160%;*/
        margin: 50px 0 10px 0;
    }

    .content-text {
        /*font-size: 16px;*/
        /*line-height: 140%;*/
    }

    .main-block-image {
        display: flex;
        padding: 0 9px 0 9px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 750px) {
    .process-main-block {
        padding: 40px 0 120px 0;
    }

    .main-block-header {
        font-size: 25px;
        line-height: 160%;
        margin-bottom: 44px;
    }

    .main-block-body {
        display: flex;
        flex-direction: column-reverse;
    }

    .main-block-content {
        padding: 0 20px;
    }

    .content-title {
        font-size: 20px;
        line-height: 160%;
        margin: 20px 0 10px 0;
    }

    .content-text {
        font-size: 16px;
        line-height: 140%;
    }

    .main-block-image {
        padding: 0 9px 0 9px;
    }
}

/* Main Block End */

/*Section Processes */
.section-processes {
    padding: 183px 0 226px 0;
    background: #F8F8F8;
}

.section-processes-header {
    font-family: Rubik, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-align: center;

}

.section-processes-body {
    margin-top: 91px;
}

.process-type1 {
    display: flex;
    align-items: center;
    margin-bottom: 120px;
}

.process-type1-img {
    flex: 34%;
}

.process-type1-img img {
}

.process-type1-description-container {
    flex: 66%;
    padding: 0 64px 0 48px;
    position: relative;
}

.process-type1-title-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;

}

.process-type1-title-container .block-title {
    align-items: center;
    display: flex;
    background: linear-gradient(90deg, rgba(37, 117, 252, 0.3) 42.21%, rgba(106, 17, 203, 0.3) 93.3%);
    font-family: Rubik, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 160%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    /* SHADOW */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    border-radius: 20px;

    padding: 12px 33px 45px 33px;
}

.process-type1-title {
    margin-right: 10px;
}

.process-type1-icon {
}

.process-type1-icon img {
}

.process-type1-description {
    padding: 22px 32px;
    position: relative;
    top: -40px;
    z-index: 2;
    background: #FFFFFF;
    /* SHADOW */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    border-radius: 20px;

    font-family: Rubik, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 160%;
    letter-spacing: 0.03em;
    color: #000000;

}

.process-type2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
    /*position: relative;*/
}

.process-type2-description-container {
    max-width: 685px;
    position: relative;
    /*left:401px;*/
}

.process-type2-title-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.process-type2-title-container .block-title {
    align-items: center;
    display: flex;
    background: #FFFFFF;
    font-family: Rubik, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 160%;
    letter-spacing: 0.03em;
    /* SHADOW */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 12px 33px 45px 33px;
}

.process-type2-title {
    margin-right: 10px;
}

.process-type2-icon {
}

.process-type2-icon img {
}

.process-type2-description {
    padding: 22px 32px;
    position: relative;
    top: -40px;
    z-index: 2;
    background: #FFFFFF;
    /* SHADOW */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    border-radius: 20px;

    font-family: Rubik, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 160%;
    letter-spacing: 0.03em;
    color: #000000;
}

.relative-container {
    position: relative;
}

.process-type2-img {
    position: absolute;
    /*left: 50%;*/
    bottom: 20%;
    right: -17%;
}

.process-type2-img.light-bulb {
    position: absolute;
    bottom: 73%;
    right: -1%;
}

.process-type2-img.maintenance-checklist-img {
    position: absolute;
    bottom: 64%;
    right: -7%;
}

.frame-group {
    position: relative;
}

.frame-group img {
    display: inline-block;
}

.frame-1 {
    position: absolute;
    top: -183px;
    left: -133px;
}

.frame-2 {
    position: absolute;
    top: -94px;
    left: 46px;
}

.frame-3 {
    position: absolute;
    top: -59px;
    left: 94px;
}

.frame-4 {
    position: absolute;
    top: -199px;
    left: 224px;
}

.frame-5 {
    position: absolute;
    top: -210px;
    right: -20px;
}

.frame-6 {
    position: absolute;
    top: -39px;
    right: -100px;
}

.frame-7 {
    position: absolute;
    top: 0;
    right: 132px;
}

.frame-8 {
    position: absolute;
    top: 110px;
    left: 25px;
}

.frame-9 {
    position: absolute;
    top: -78px;
    right: 32px;
}

.frame-10 {
    position: absolute;
    top: -108px;
    right: -59px;
}

.frame-11 {
    position: absolute;
    top: 130px;
    left: 21px;
}

.frame-12 {
    position: absolute;
    top: 60px;
    left: 70px;
}

.frame-13 {
    position: absolute;
    top: 73px;
    right: 48px;
}

.frame-14 {
    position: absolute;
    top: 80px;
    left: -112px;
}

.frame-15 {
    position: absolute;
    top: 60px;
}

.frame-16 {
    position: absolute;
    right: -10px;
    top: -61px;
}

.frame-17 {
    position: absolute;
    left: 522px;
    top: -60px;

}

.frame-18 {
    position: absolute;
    right: 490px;
    top: 140px;
}

.frame-19 {
    position: absolute;
    top: 72px;
    right: 235px;
}

.frame-20 {
    position: absolute;
    top: 30px;
    right: 212px;
}

.frame-21 {
    position: absolute;
    top: 106px;
    right: 27px;
}

@media (max-width: 1100px) {
    .section-processes {
        padding: 60px 20px 190px 20px;
    }

    .section-processes-body {
        /*display: flex;*/
        /*flex-direction: column;*/
    }

    .process-type1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
    }

    .process-type1-img {
        margin-bottom: 20px;
    }

    .process-type2 {
        margin-bottom: 70px;
    }

}

@media (max-width: 950px) {
    .process-type1-description-container {
        padding: 0 0;
    }

    .process-type1-description {
        max-width: 600px;
    }

    .process-type2-description {
        max-width: 600px;
    }

    .frame-1{
        top: -130px;
        left: -30px;
        height: 200px;
    }
    .frame-2{
        top: -160px;
        left: 100px;
        width: 25px;
    }
    .frame-3{
        width: 16px;
        left: 200px;
        top: -30px;
    }
    .frame-group .frame-4{
        display: none;
    }
    .frame-5{
        width: 90px;
        top: -120px;
        right: -50px;
    }
    .frame-6{
        height: 30px;
        top: 40px;
        right: -30px;
    }

    .frame-group .frame-7{
        display: none;
    }
}

@media (max-width: 850px) {
    .process-type1-description {
        font-size: 16px;
        line-height: 140%;
    }

    .process-type2-description {
        font-size: 16px;
        line-height: 140%;
    }

    .process-type2-img {
        position: absolute;
        top: -50px;
        right: -10%;
    }

    .process-type2-img.light-bulb {
        position: absolute;
        top: -30px;
        right: -1%;
    }

    .process-type2-img.maintenance-checklist-img {
        position: absolute;
        top: -40px;
        right: -8%;
    }

    .frame-12 {
        top: -80px;
        left: 70px;
    }

    .frame-13 {
        top: -50px;
        left: 10px;
    }

    .frame-14 {
        top: -650px;
        left: -60px;
    }

    .frame-15 {
        top: -750px;
        left: 130px;
    }

    .frame-18{
        left: 100px;
        top: -850px;
    }
    .frame-20{
        top: -850px;
        right: 100px;
    }

}

@media (max-width: 750px) {

    .process-type1-title {
        font-size: 18px;
        line-height: 140%;
    }

    .process-type1-description {

    }

    .process-type2-description-container {

    }

    .process-type2-title {
        font-size: 18px;
        line-height: 140%;
    }

    .process-type2-description {

    }

    .process-type2-img {
        position: absolute;
        top: -80px;
        right: 0;
    }

    .process-type2-img.light-bulb {
        position: absolute;
        top: -50px;
        right: -1%;
    }

    .process-type2-img.maintenance-checklist-img {
        position: absolute;
        top: -60px;
        right: 0;
    }

    .frame-8 {

        width: 35px;
        height: 40px;
        top: -60px;
        left: 10px;
    }

    .frame-9 {
        width: 25px;
        top: -78px;
        right: 100px;
    }

    .frame-10 {
        width: 14px;
        top: 0;
        right: 30px;
    }

    .frame-15 {
        top: -750px;
        left: 100px;
    }

    .frame-16 {
        width: 60px;
        height: 25px;
    }

    .frame-18{
        left: 20px;
    }
    .frame-20{
        right: 20px;
    }
}


@media (max-width: 500px) {
    .invisible-text{
        display: none;
    }

    .process-type1-description{
        padding: 16px 16px 25px 16px;
    }
    .process-type2-description{
        padding: 16px 16px 25px 16px;
    }

    .process-type2-img {
        width: 120px;
        position: absolute;
        top: -40px;
    }

    .process-type2-img.light-bulb {
        position: absolute;
        top: -50px;
        right: -40px;
    }

    .process-type2-img.maintenance-checklist-img {
        width: 90px;
        position: absolute;
        top: -30px;
        right: 0;
    }

    .frame-1{
        top: -130px;
        left: -70px;
        height: 200px;
    }
    .frame-2{
        top: -150px;
        left: 75px;
        width: 20px;
    }
    .frame-3{
        width: 10px;
        left: 170px;
        top: -30px;
    }

    .frame-5{
        width: 78px;
    }
    .frame-6{
        height: 21px;
        top: -10px;
    }

    .frame-14 {
        width: 70px;
        top: -800px;
        left: -60px;
    }

    .frame-15 {
        top: -879px;
        left: 20px;
    }

    .frame-18{
        width: 61px;
        height: 25px;

    }
}

@media (max-width: 400px) {
    .process-type2-img {
        width: 90px;
        position: absolute;
        top: -20px;
    }

    .process-type2-img.light-bulb {
        width: 60px;
        position: absolute;
        top: -20px;
        right: -20px;
    }

    .process-type2-img.maintenance-checklist-img {
        width: 60px;
        position: absolute;
        top: 0;
        right: -20px;
    }

    .frame-1{
        top: -130px;
        left: -80px;
        height: 200px;
    }

    .frame-14 {
        top: -850px;
    }

    .frame-15 {
        top: -900px;
    }
}

@media (max-width: 380px) {
    .process-type1-title-container .block-title {
        padding: 9px 10px 45px 10px;
    }

    .process-type2-title-container .block-title {
        padding: 9px 10px 45px 10px;
    }
    .process-type2-img {
        width: 80px;
        position: absolute;
        top: -15px;
        right: -10px;
    }

    .process-type2-img.light-bulb {
        width: 50px;
        position: absolute;
        top: -10px;
        right: -25px;
    }

    .process-type2-img.maintenance-checklist-img {
        width: 50px;
        position: absolute;
        top: 0;
        right: -25px;
    }
}

/*Section Processes End */