/* zeroing */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    /*line-height: 1.5;*/
    -webkit-font-smoothing: antialiased;
}

/*6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 7. Remove built-in form typography styles */
/* Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* zeroing end */

/* Containers */
.base-container {
    max-width: 1200px;
    margin: 0 auto; /* will center this container */
    /*padding: 0 15px;*/
}

/* Containers End */

.frame-group {
    position: relative;
}

.frame-group img {
    display: inline-block;
}

.gradient-text {
    background: -webkit-linear-gradient(360deg, #6A11CB, #2575FC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.light-gradient-text {
    background: -webkit-linear-gradient(360deg, rgba(106, 17, 203, 0.5) 0%, rgba(37, 117, 252, 0.5) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-why-us {
    padding: 87px 0 210px 0;

}

.why-us-header {
    padding-bottom: 54px;
    display: flex;
    justify-content: center;

    font-family: Spartan, serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
}

.content-container {
    display: flex;
    flex-direction: column;
}

.content-container .content-row:not(:last-child) {
    margin-bottom: 130px;
}

.content-row {
    display: flex;
    z-index: 5;
    /*position:relative;*/
}

.list-item {
    flex: 50%;
    margin: 0 15px 0 15px;
    padding: 35px 30px;
    max-width: 570px;
    background: #FFFFFF;
    /* SHADOW */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.item-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-number {
    font-family: Rubik, serif;
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 140%;
    letter-spacing: 0.03em;
    margin-right: 20px;
}

.item-title {
    font-family: Rubik, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.03em;
    color: #000000;
}

.item-icon {
}

.item-icon img {
}

.item-text {
    font-family: Rubik, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 160%;
    letter-spacing: 0.03em;
    color: #000000;
    margin-top: 20px;
}

.item-descriptive-image {
    flex: 50%;
    margin: 0 15px 0 15px;
}

.item-descriptive-image img {
}

.section-faq {
    padding: 100px 0 120px 0;
    background: linear-gradient(90deg, rgba(106, 17, 203, 0.1) 0%, rgba(37, 117, 252, 0.1) 100%);
}

.section-faq-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faq-header-title {
    font-family: Spartan, serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;

    margin-bottom: 25px;
}

.faq-header-subtitle {
    font-family: Spartan, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 140%;
    color: #000000;
    max-width: 505px;

    margin-bottom: 60px;
}

.collapsible-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 770px;
    margin: 0 auto;

}

.collapsible-list-item {
    width: 100%;
    margin-bottom: 20px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 38px 38px;
    /* White */
    background: #FFFFFF;
    /* SHADOW */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    position: relative;
    z-index: 5;
    text-align: left;
}

.active-arrow {
    display: none;
    margin-right: 30px;
}

.arrow {
    margin-right: 30px;
}

.collapsible.active .active-arrow {
    display: inherit;
}

.collapsible.active .arrow {
    display: none;
}

.collapsible.active span {
    background: -webkit-linear-gradient(360deg, #6A11CB, #2575FC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-text {
    font-family: Spartan, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
}

.content {
    display: none;
    /*max-height: 0;*/
    overflow: hidden;
    position: relative;
    padding: 10px 38px 38px 38px;
    top: -30px;
    border-radius: 20px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    background: #FFFFFF;
    z-index: 7;

    font-family: Spartan, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    /* Black */
    color: #000000;
}

.frame-1 {
    position: absolute;
    top: -82px;
    left: 410px;
}

.frame-2 {
    position: absolute;
    top: -81px;
    right: 124px;
}

.frame-3 {
    position: absolute;
    top: 15px;
    right: -75px;
}

.frame-4 {
    position: absolute;
    right: -57px;
    top: 180px;
    z-index: 1;
}

.frame-5 {
    position: absolute;
    top: -150px;
    right: 44%;
}

.frame-6 {
    position: absolute;
    top: -125px;
    right: -79px;
}

.frame-7 {
    position: absolute;
    top: -18px;
    right: -100px;
}

.frame-8 {
    position: absolute;
    top: -60px;
    left: -91px;
}

.frame-9 {
    position: absolute;
    left: -54px;
    top: 61px;
}

.frame-10 {
    position: absolute;
    top: 150px;
    left: -30px;
}

.frame-11 {
    position: absolute;
    top: 102px;
    right: 15px;
}

.frame-12 {
    position: absolute;
    right: -10px;
    top: 80px;


}

.frame-13 {
    position: absolute;
    left: 15px;
    top: 350px;
}

.frame-14 {
    position: absolute;
    top: -160px;
    right: -5px;
}

.frame-15 {
    position: absolute;
    top: -70px;
    right: 12px;
}

@media (max-width: 1000px) {
    .section-why-us {
        padding: 40px 20px 100px 20px;
    }

    .why-us-header {
        padding-bottom: 32px;
    }

    .content-container .content-row:not(:last-child) {
        margin-bottom: 0;
    }

    .content-row {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        margin: 0 auto;
    }

    .content-row.content-row-reversed {
        display: flex;
        flex-direction: column-reverse;
    }

    .list-item {
        max-width: 700px;
        width: 100%;
        margin: 0 0 100px 0;
    }

    .item-descriptive-image {
        margin-bottom: 20px;
    }

    .item-descriptive-image img {
        /*margin: 0 0;*/
        width: 100%;
    }

    .section-faq {
        padding: 60px 20px 100px 20px;
    }

    .faq-header-title {
        margin-bottom: 15px;
    }

    .faq-header-subtitle {
        margin-bottom: 50px;
    }

    .collapsible-list-item {
        margin-bottom: 15px;
    }


    .frame-3 {
        top: 350px;
        left: 20px;
    }

    .frame-5 {
        top: -100px;
    }

    .frame-6 {
        top: -50px;
        left: 7%;
    }

    .frame-7 {
        top: -40px;
        right: 7%;
    }

    .frame-8 {
        left: 7%;
    }

    .frame-9 {
        left: 2%;
    }

    .frame-10 {
        top: 50px;
        left: -100px;
    }

    .frame-11 {
        top: 0;
        right: 15px;
    }

}

@media (max-width: 800px) {
    .faq-header-title {
        font-size: 30px;
    }

    .faq-header-subtitle {
        font-size: 20px;
    }

    .collapsible {
        padding: 14px 17px;

    }

    .active-arrow {
        margin-right: 0;
        width: 25px;
        height: 10px;
    }

    .arrow {
        margin-right: 0;
        width: 16px;
        height: 20px;
    }

    .collapsible.active {
        border-radius: 20px 20px 0 0;
    }

    .button-text {
        font-size: 15px;
        margin-left: 20px;
    }

    .content {
        font-size: 15px;
        padding: 10px 17px 14px 17px;
        top: -10px;
        border-radius: 0 0 20px 20px;
    }

    .frame-1 {
        top: -60px;
        left: 50px;
    }

    .frame-2 {
        top: -81px;
        right: 30px;
    }

    .frame-10 {
        width: 130px;
        top: 50px;
        left: -100px;
    }

    .frame-11 {
        right: 15px;
    }

    .frame-13 {
        left: 10%;
        top: 480px;
    }

    .frame-14 {
        top: 50px;
        right: 5%;
    }

    .frame-15 {
        top: -0px;
        right: 15%;
    }
}


@media (max-width: 600px) {
    .why-us-header {
        font-size: 25px;
    }

    .list-item {
        padding: 18px 15px;
    }

    .item-number {
        font-size: 30px;
        margin-right: 15px;
    }

    .item-title {
        font-size: 18px;
    }

    .item-icon img {
        width: 60px;
    }

    .item-text {
        font-size: 16px;
        line-height: 140%;
        margin-top: 15px;
    }

    .frame-1 {
        height: 22px;
    }

    .frame-3 {
        top: 280px;
        left: 30px;
    }

    .frame-4 {
        height: 350px;
    }

    .frame-5 {
        top: -70px;
        height: 65px;
    }

    .frame-13 {
        width: 30px;
        top: 520px;
    }

    .frame-15 {
        width:30px;
    }
}

@media (max-width: 400px) {
    .faq-header-title {
        font-size: 25px;
    }

    .faq-header-subtitle {
        font-size: 16px;
    }

    .button-text {
        font-size: 13px;
    }

    .content {
        font-size: 13px;
    }

    .item-icon img {
        display: none;
    }

    .frame-1 {
        height: 18px;
        left: 20px;
    }

    .frame-3 {
        top: 340px;
    }

    .frame-4 {
        top: 210px;
    }

    .frame-6 {
        width: 30px;
    }

    .frame-11 {
        height: 30px;
    }

    .frame-13 {
        top: 550px;
    }

}